<div class="list row">
  <div class="col-md-6">
    <h4>Listado Alumnos</h4>
	<button routerLink="add" class="btn btn-success">Agregar alumno</button>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let alumno of alumnos; let i = index"
        [class.active]="i == currentIndex"
	      >
        {{ alumno.nombre }} {{ alumno.fecha_nacimiento }}
        <div style="display:flex">
		    <button routerLink="id/{{alumno.id}}" class="btn btn-primary">Detalles</button>
			<form>
			  <input #id type="hidden" value="{{alumno.id}}">
			  <button type="button" class="btn btn-danger" (click)="deleteAlumno(id.value)">Eliminar</button>
			</form>        
        </div>
      </li>
    </ul>
  </div>
</div>

